<!--
  Generated template for the SuchePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Suche</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding>
    <div class="column small-12 large-2">
        <label class="sbw_light">Title:</label><br />
        <input type="text" list="topicsDataList" [(ngModel)]="selectedTopic" [formControl]="topicForm">
        <datalist id="topicsDataList">
            <option *ngFor="let topic of topics" value="{{topic}}">{{topic.name}}</option>
        </datalist>
    </div>
</ion-content> -->

<!-- <ion-list inset>
    <ion-item *ngFor="let topic of topics">
      <h2>{{topic.name}}</h2>
      <p>{{topic.id}}</p>
    </ion-item>
  </ion-list> -->

<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!-- Responsive Layout with Ion Grid-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let topic of topics">
        <div>
        <button id="topicButton{{topic.id}}"ion-button icon-end>
            {{topic.name}}
          <ion-checkbox id="topicCheckBox{{topic.id}}" [(ngModel)]="topic.checked" (ionChange)="addToSelectedTopics(topic, $event)"></ion-checkbox>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
